                    <script>
                        function show_slider(e) {
                            var slider = $('#q' + e.data.qid + '_slider');
                            var pos = $(this).position();
                            var input = this;
                            var range = $('input[type=range]', slider);
                            if(this.value == '+∞' || this.value == '∞')
                                range.val(range.get(0).max);
                            else if(this.value == '-∞')
                                range.val(range.get(0).min);
                            else
                                range.val(this.value);
                            slider.removeClass('hidden');
                            slider.css('top', (pos.top + $(this).css('height')));
                            slider.css('left', (pos.left + (parseInt($(this).css('width')) - parseInt(slider.css('width'))) / 2) + 'px');
                            $('input', slider).data('input', this);
                        }

                        function slider_changed(e) {
                            $($(this).data('input')).val(this.value);
                        }

                        function hide_slider(e) {
                            setTimeout(function() {
                                if(document.activeElement.id.indexOf('q' + e.data.qid + '_') != 0)
                                    $('#q' + e.data.qid + '_slider').addClass('hidden');
                            }, 1);
                        }

                        function set_all_checkboxes(qid, checked) {
                            $('[name="q' + qid + '[]"]').each(function(idx, elem) {
                                if(elem.checked != checked)
                                    $(elem).parent().button('toggle');
                            });
                        }
                    </script>
{% for question in filter_questions %}
                    <div class="row border-bottom">
                        <div class="col-sm-4">
                            <label>{{ question.question }}</label>
{% if question.type == constant('QUESTION::TYPE_TAGS') %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs" onclick="set_all_checkboxes({{question.id}}, true)">Alle</button>
                                <button type="button" class="btn btn-default btn-xs" onclick="set_all_checkboxes({{question.id}}, false)">Keine</button>
                            </div>
{% endif %}
                        </div>
{% if question.type == constant('QUESTION::TYPE_BOOLEAN') %}
                        <div data-toggle="buttons" class="options col-sm-8" id="options-q{{question.id}}">
                            <label class="btn btn-default active"><input type="checkbox" name="q{{question.id}}[]" value="-1" checked> keine Angabe</label>
                            <label class="btn btn-default active"><input type="checkbox" name="q{{question.id}}[]" value="0" checked> Nein</label>
                            <label class="btn btn-default active"><input type="checkbox" name="q{{question.id}}[]" value="1" checked> Ja</label>
                        </div>
{% elseif question.type == constant('Question::TYPE_TAGS') %}
                        <div data-toggle="buttons" class="options col-sm-8" id="options-q{{question.id}}">
{% for tag in question.tags().findMany() %}
                            <label class="btn btn-default active"><input type="checkbox" name="q{{question.id}}[]" value="{{tag.id}}" checked> {{tag.value}}</label>
{% endfor %}
                        </div>
{% elseif question.type == constant('Question::TYPE_INTEGER') %}
{% set qmin = question.answers().min('value') // 1 %}
{% set qmax = question.answers().max('value') // 1 %}
                        <div class="col-sm-8 filter_integer">
                            von <input type="text" class="form-control" name="q{{question.id}}[min]" id="q{{question.id}}_min" value="{{qmin}}" pattern="[-+]?(&infin;|\d+)" size="3" style="width: auto; display: inline;">
                            bis <input type="text" class="form-control" name="q{{question.id}}[max]" id="q{{question.id}}_max" value="{{qmax}}" pattern="[-+]?(&infin;|\d+)" size="3" style="width: auto; display: inline;">
                            <div id="q{{question.id}}_slider" class="hidden modal-content">
                                <input type="button" class="btn btn-default" id="q{{question.id}}_min_button" value="-&infin;">
                                {{qmin}} <input type="range" id="q{{question.id}}_slider" min="{{qmin}}" max="{{qmax}}"> {{qmax}}
                                <input type="button" class="btn btn-default" id="q{{question.id}}_max_button" value="+&infin;">
                            </div>
                        </div>
                        <script>
                            $('#q{{question.id}}_min').on('focus', {qid: {{question.id}}}, show_slider);
                            $('#q{{question.id}}_max').on('focus', {qid: {{question.id}}}, show_slider);
                            $('#q{{question.id}}_slider input').on('change', slider_changed);
                            $('#q{{question.id}}_slider input').on('blur', {qid: {{question.id}}}, hide_slider);
                            $('#q{{question.id}}_slider input').on('click', slider_changed);
                            $('#q{{question.id}}_min').on('blur', {qid: {{question.id}}}, hide_slider);
                            $('#q{{question.id}}_max').on('blur', {qid: {{question.id}}}, hide_slider);
                        </script>
{% endif %}
                    </div>
{% endfor %}
