{% extends "base.html" %}
{% set reference_date = "now"|date_modify("-1 year") %}
{% block content %}
    <h2>{{university.name}} <span class="updated-icon glyphicon glyphicon-time{% if university.updated|date_modify("+0") < reference_date %} outdated{% endif %}" title="Zuletzt aktualisiert am {{university.updated|date('d.m.Y')}}"></span></h2>
{% for category in categories %}
        <h3>{{category.name}}</h3>
{% for question in category.questions().orderByAsc('order').findMany() %}
{% set answer = question.answers().where('university_id', university.id).findOne() %}
            <div class="row" style="border-bottom: 1px lightgray solid; padding: 5px;">
                <span class="col-sm-3" style="font-weight: bold;">
                    <span class="updated-icon glyphicon glyphicon-time{% if answer.updated|date_modify("+0") < reference_date %} outdated{% endif %}" title="Zuletzt aktualisiert am {{answer.updated|date('d.m.Y')}}"></span>
                    {{question.question}}:
                </span>
                <span class="col-sm-9">
{% if question.type == constant('Question::TYPE_FREETEXT') %}
                    {{answer.freetext}}
{% else %}
{% if question.type == constant('Question::TYPE_INTEGER') %}
                    {{answer.value}}
{% elseif question.type == constant('Question::TYPE_BOOLEAN') %}
                    {% if answer.value == "1" %}ja{% elseif answer.value == "0" %}nein{% else %}keine Angabe{% endif %}
{% elseif question.type == constant('Question::TYPE_TAGS') %}
                    {{answer.tags().findMany()|join_attr('value', ', ')}}
{% endif %}
{% if answer.freetext != "" %}
                    <div class="extra-comment">{{answer.freetext}}</div>
{% endif %}
{% endif %}
                </span>
            </div>
{% endfor %}
{% endfor %}
{% endblock %}
